<h2>{{title}}</h2>
<div>
  <p>帳號:</p>
  <!-- dusabled設定欄位可否使用 -->
  <!-- [] ts->html
       () html->ts
      [()]雙向 -->
  <input [disabled]="isDisable" [(ngModel)]="user.account">
  <p [ngClass]="{'Red':true}" *ngIf="!user.account">請輸入帳號</p>
  <p>密碼</p>
  <input [(ngModel)]="user.password">
  <p [ngClass]="{'Red':true}" *ngIf="!user.password">請輸入密碼</p>
  <br><br>
  <button (click)="submit()">送出</button>
  <button (click)="clear()">清除</button>
  <button (click)="switch()">切換</button>
</div>
<br>
<table>
  <tr>
    <th>帳號</th>
    <th>密碼</th>
  </tr>
<tr>
  <td>{{showUser.account}}</td>
  <td>{{showUser.password}}</td>
</tr>
</table>

<p [ngClass]="{'Red':true}" *ngIf="isDuplicate">有重複帳號</p>
<table>
  <tr>
    <th>帳號清單</th>
    <th>密碼清單</th>
  </tr>
  <tr *ngFor="let user of showUserList">
    <td>{{user.account}}</td>
    <td>{{user.password}}</td>
  </tr>
</table>

<button (click)="clearList()">清除帳號及密碼清單</button>
